<div class="container">
    <header class="page-header">
       <ul class="nav nav-pills pull-right">
          <li class="active"><a href="{{connection.aaServerUrl}}">Home</a></li>
          <li>Logged in as <b>{{loginUser}}</b></li>
       </ul>
       <h3>Business Rules Test Application</h3>
    </header>
 </div>
 
<div class="container">
    <p>
       <pre ng-show="error">
           <font color="red" ng-show="currentProcessId">{{error}} - <a href='#/home' ng-click='openProcessInstance(currentProcessId)'>Go to Process {{currentProcessId}}</a></font>
           <font color="red" ng-show="!currentProcessId">{{error}}</font>
       </pre>
    </p>
    <p ng-show="info.summary != ''" style="color:green" ng-init="showDetails=false">
        <span style="color:green">{{info.summary}}</span><br/>
        <button ng-click="showDetails=!showDetails" class="btn btn-default">{{showDetails ? "Hide" : "Show"}} Details</button>
        <pre ng-show="showDetails"><font color="#A52A2A">{{info.details}}</font></pre>
    </p>
    <div class="row">
       <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="panel panel-default">
              <div class="panel-heading">
                  Test Configuration
              </div>
              <div class="panel-body">
                  <form class="form-horizontal">
                      <div class="form-group">
                         <label class="col-sm-6 control-label">Rules tenant</label>
                         <div class="col-sm-6">
                            <div class="checkbox">
                              <label>
                                 <input type="checkbox" name="sameTenant" ng-model="sameTenant" ng-true-value="true" ng-false-value="false">Same tenant
                              </label>
                            </div>
                            <div ng-show="!sameTenant">
                              <input type="text" class="form-control" ng-model="rulesTenant" placeholder="Tenant Name">
                            </div>
                         </div>
                      </div>
                      <div class="form-group">
                         <div class="col-sm-12">
                            <span><small>Rules tenant is the tenant hosting the rules application "TaxRateRules"</small></span><br/>
                         </div>
                      </div>
                      <div class="form-group">
                         <div class="col-sm-6"></div>
                         <div class="col-sm-6">
                            <button ng-disabled="!(info.summary == '' || info.summary =='Test is 100% Complete!' || error)" class="btn btn-primary" ng-click="test()">Test</button>
                         </div>
                      </div>
                  </form>
              </div>
          </div>
       </div>
       <div class="col-sm-8 col-md-8 col-lg-8">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <span>Prerequisites</span>
              </div>
              <div class="panel-body">
                 <table class="table">
                    <tbody>
                       <tr>
                          <td>This application (TaxRateReview)</td>
                          <td>
                             <span>Must login as ibpmuser@example.com to run the test<br/></span>
                             <span>Must execute "Make Application Ready" inside application details page<br/></span>
                             <span>Review the rest action test process <a href="#/home" ng-click="openProcessDiagram('Secure REST Action Test')">'Secure REST Action Test'</a><br/></span>
                             <span>Review the business rules test process <a href="#/home" ng-click="openProcessDiagram('Income Tax Review')">'Income Tax Review'</a></span>    
                          </td> 
                       </tr>
                       <tr>
                          <td>Rules application (TaxRateRules)</td>
                          <td>
                             <span>Install rules application either into the same tenant or different tenant<br/></span>
                             <span>Must execute "Make Application Ready" inside rules application details page</span>
                          </td> 
                       </tr>
                    </tbody>
                 </table>
              </div>
          </div>
       </div>
    </div>
</div>

