<div class="container">
    <header class="page-header">
       <ul class="nav nav-pills pull-right">
          <li class="active"><a href="{{connection.aaServerUrl}}">Home</a></li>
          <li>Logged in as <b>{{loginUser}}</b></li>
       </ul>

       <h3>Business Rules Test - 333333</h3>

    </header>
 </div>
 
<div class="container">
    <p>
       <pre ng-show="error">
           <font color="red">{{error}}</font>
       </pre>
    </p>
    
    <div class="row" style="height:50px">
       <button ng-disabled="processing" class="btn" ng-click="test()">DMN Sanity Test</button>
       <button ng-disabled="processing" class="btn" ng-click="testTCK()">DMN TCK Test</button>
    </div>
    <div class="row">
       <div class="panel panel-default">
              <div class="panel-heading">
                  <span>Results - Total: {{totalTests}}, Succeeded: {{totalSucceededTests}}, Failed: {{totalFailedTests}}</span>
              </div>
              <div class="panel-body">
                 <table class="table table-responsive" style="width:90%">
                    <tbody>
                       <tr>
                          <td>Sequence</td>
                          <td>Test</td>
                          <td>Input</td>
                          <td>Expected</td>
                          <td>Actual</td>
                          <td>Status</td> 
                       </tr>
                       <tr ng-repeat="result in results | orderBy:'test' track by $index">
                          <td>{{$index+1}}</td>
                          <td ng-click="result.showTest = !result.showTest">{{result.showTest ? result.test : "-"}}</td>
                          <td ng-click="result.showInput = !result.showInput">{{result.showInput ? result.input : "-"}}</td>
                          <td ng-click="result.showExpected = !result.showExpected">{{result.showExpected ? result.expected : "-"}}</td>
                          <td ng-click="result.showActual = !result.showActual">{{result.showActual ? result.actual : "-"}}</td>
                          <td><font ng-style="statusColor(result)">{{result.passed ? "Passed" : (!result.error ? "Actual does not match Expected" : result.error)}}</font></td>
                       </tr>
                    </tbody>
                 </table>
              </div>
          </div>
    </div>
</div>

