/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Move down content because we have a fixed navbar that is 50px tall */
    padding-top: 10px;
    /* Margin bottom by footer height */
    margin-bottom: 25px;
}
td, th {
	padding: 5px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 25px;
    background-color: #f5f5f5;
}

.my-modal-popup .modal-dialog {
	height: 80%;
	max-height: 90%;
    width: 90%;
    max-width: 100%;
}

.my-modal-popup .table {
  height: 400px;
}

.ng-invalid {
  border-color: red;
  border-width: 2px;
}

.errors {
  font-size:smaller;
  color:red;
}

.scrollable {
    max-height: 680px;
    overflow-y: auto;
}

.modal-header-info {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5bc0de;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

@media (min-width: 768px) {
    .left-scrollable-div {
         position: absolute;
         top: 50px;
         bottom: 0;
         left: 0;
         height:90%;
         overflow-y: scroll;
    } 
    .right-scrollable-div {
         position: absolute;
         top: 50px;
         bottom: 0;
         right: 0;
         height:90%;
         overflow-y: scroll;
    }
    .pdf-viewer {
         position: absolute;
         bottom: 0;
         right: 0;
         height:90%;
         overflow-y: scroll;
    }
}

select.not_chosen {
  color: #808080;
}